@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-highlight: #ff623f;
  --color-accent: #ff623f15;
  --color-accent-2: #c32906;
  --color-blue: #222738;
  --color-gray: #676767;
  --color-light-gray: #00000090;
  --color-tint: #e2e2e2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: var(--color-white);
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}